# tell GitHub linguist these are actual source files
app/src/main/java/** linguist-detectable=true
app/src/main/kotlin/** linguist-detectable=true
app/src/main/java/** linguist-language=Java
app/src/main/kotlin/** linguist-language=Kotlin
